.btn{
    width: 100%;
    background: rgb(141, 136, 136);
    border: 3px solid black;
    aspect-ratio: 1/1;
    font-size: 2rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn.active{
    background-color: hsl(200, 100%, 50%);
}

.btn.inactive{
    opacity: .3;
}

.btn:hover:not(:disabled), .btn:focus:not(:disabled){
    background-color: hsl(200, 100%, 75%);
}